$primary-color: #372F7A;
$secondary-color: #5C4ECC;

$fade-color: #F7F7F7;
$white: #FFFFFF;
$grey: #B7B7B7;

$primary-font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
$secondary-font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

$title-font-size: 35px;